$primary-color: #ffd200;

.Root {
  background-color: #1d1e23;
  color: #898b94;
  padding: 64px 48px;
  font-size: 12px;

  p {
    font-size: 12px;
  }
}

.Footer {
  display: flex !important;
  justify-content: space-between;
  gap: 16px;

  .Title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;

    &.Link {
      transition: 0.15s;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .ListMenu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .ListSocMed {
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: $primary-color;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .Address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}


@media (max-width: 767px) {
  .Footer {
    flex-direction: column;
    gap: 40px;
  }
}