.InputContainer {
  label:global(.MuiFormLabel-root) {
    color: #737373;
    font-size: 14px;
    font-weight: 300;
  }
  & :global(.MuiInputBase-root.MuiFilledInput-root) {
    background: #fafafa !important;
    border-bottom: none;
    border-radius: 4px;

    &::before {
      border-bottom: 1px solid #eee;
    }
  }
}
