.Container {
  .BtnBack {
    border: 2px solid $warning-500;
  }
  .BtnSubmit {
    width: 200px;
    text-transform: uppercase;
  }

  .BtnCategory {
    background-color: #e4e4e7;
    width: 200px;
    box-shadow: none;
    &:hover {
      background-color: #d1d1d6;
    }
    &:global(.active) {
      background-color: #ffd200;
    }
  }

  a {
    text-decoration: underline;
    -webkit-text-decoration-color: $primary-500;
    text-decoration-color: $primary-500;
  }
}
