$neutral-25: #fcfcfc;
$neutral-50: #fafafa;
$neutral-100: #f4f4f5;
$neutral-200: #e4e4e7;
$neutral-300: #d1d1d6;
$neutral-400: #a0a0ab;
$neutral-500: #70707b;
$neutral-600: #51525c;
$neutral-700: #3f3f46;
$neutral-800: #26272b;
$neutral-900: #18181b;

$primary-25: #fffefa;
$primary-50: #fffdf2;
$primary-100: #fff9cc;
$primary-200: #fff299;
$primary-300: #ffe966;
$primary-400: #ffe03f;
$primary-500: #ffd200;
$primary-600: #dbb000;
$primary-700: #b79000;
$primary-800: #937100;
$primary-900: #7a5b00;

$success-25: #fafdf8;
$success-50: #f6fdf0;
$success-100: #f0fde4;
$success-200: #defcca;
$success-300: #c6f8ad;
$success-400: #adf196;
$success-500: #89e874;
$success-600: #60c754;
$success-700: #3da73a;
$success-800: #3da73a;
$success-900: #166f21;

$info-25: #fafeff;
$info-50: #f2fcff;
$info-100: #e0f2fe;
$info-200: #99dfff;
$info-300: #66c7ff;
$info-400: #3fafff;
$info-500: #0088ff;
$info-600: #0069db;
$info-700: #004eb7;
$info-800: #003793;
$info-900: #00277a;

$warning-25: #fffefa;
$warning-50: #fffdf2;
$warning-100: #fff9d0;
$warning-200: #fff2a1;
$warning-300: #ffea72;
$warning-400: #ffe14e;
$warning-500: #ffd314;
$warning-600: #dbb00e;
$warning-700: #b7900a;
$warning-800: #937106;
$warning-900: #937106;

$danger-25: #fffbfa;
$danger-50: #fff6f2;
$danger-100: #ffe2d7;
$danger-200: #ffbeb0;
$danger-300: #ff9488;
$danger-400: #ff6b6b;
$danger-500: #ff3a4b;
$danger-600: #db2a49;
$danger-700: #b71d46;
$danger-800: #931240;
$danger-900: #7a0b3d;
